*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}
/* HEADER */

header{
    width: 100%;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.logo{
    height: 50px;
    padding: 10px;
}

nav a{
    text-decoration: underline;
    color: seashell;
    padding: 10px;
}

/* MISSION */
.mission-img{
    height: 700px;
}

#Mission{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mission{
    background-color: black;
    position: absolute;
    width: 1200px;
    text-align: center;
}

.mission h2{
    padding: 10px;
}

.mission h4{
    padding: 10px;
}
/* FEATURED TEA */

#Featured{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featured{
    width: 1000px;
    margin-top: 100px;
    background-color: black;
    text-align: center;
}

.featured h2{
    padding: 10px;
}

.featured h4{
    padding: 10px;
}

.tea img{
    width: 300;
    height: 200px;
    margin: 10px;
}

.tea{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
}
/* LOCATIONS */

.location{
    height: 500px;
    margin-top: 100px;
}

#Locations{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.locations{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards{
    display: flex;
}

.card{
    width: 300px;
    height: 300px;
    background-color: black;
    opacity: 1;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contato {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 35px;
    flex-direction: column;
}
footer p {
    padding: 20px;
    text-align: left;
}
footer{
    justify-content: center;
    align-items: center;
    text-align: center;
}