* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}
:root {
    --cor-principal: #2C3E50;
    --cor-secundaria: #f5f1eb;
    --cor-destaque: #D4AF37;
    --cor-texto: #1D1D1D;
    --cor-fundo: #F4F4F4;
}
@font-face {
    font-family: 'fontYcaro';
    src: url('font/font1.otf') format('truetype');
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
header {
    grid-column: 1 / -1;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topo {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}
.fotoNome {
    display: flex;
    align-items: center;
    gap: 25px;
}
header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
header h1 {
    font-size: 24px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 16px;
    padding: 0 5px;
}
nav ul li{
    transition: transform 0.3s ease-in-out;
}
nav ul li:hover {
    transform: scale(1.1); 
}
.hero {
    grid-column: 1 / -1;
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    text-align: left;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 50px 0 150px;
}
.botao {
    margin-top: 25px;
    margin-right: 25px;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 0 20px 0 20px;
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
    border: 2px solid var(--cor-principal);
    font-family: var(--titulos);
    font-size: 28px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
}
.botao:hover {
    background-color: var(--cor-principal);
    color: var(--cor-destaque);
    transform: scale(1.05);
    border-color: var(--destaque);
}
.text {
    max-width: 50%;
}
.text h1 {
    font-size: 70px;
    margin-bottom: 10px;
    text-align: start;
    font-family: 'fontYcaro', sans-serif;
}
.text p {
    font-size: 20px;
    text-align: justify;
}
.img {
    border-radius: 35%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 100px;
}
.perfil{
    width: 600px;
    height: auto; 
    border-radius: 45% 45% 0 0;
    border: 3px solid var(--cor-principal);
}
.espaco {
    height: 100px;
}
#SOBRE, #CURIOSIDADES {
    grid-column: 3 / 11;
    padding: 40px 20px;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: justify;
    margin-top: 100px;
}
#SOBRE p, #CURIOSIDADES p {
    font-size: 18px;
    color: var(--cor-texto);
    line-height: 1.6;
}
#SOBRE h3,
#CURIOSIDADES h3 {
    text-align: left;
    font-size: 36px;
    color: var(--cor-principal);
    margin-bottom: 20px;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}
.card h4 {
    font-size: 20px;
    color: var(--cor-principal);
}
.card img {
    width: 380px;
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 15px;
}
footer {
    grid-column: 1 / -1;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    text-align: center;
    height: 200px;
    margin-top: 100px;
}
footer h3 {
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 5px;
}
footer ul {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
footer ul li {
    color: #F4F1EB;
    text-decoration: none;
    font-size: 18px;
}
footer ul li:hover {
    text-decoration: underline;
    transform: scale(1.05);
}
footer p {
    font-size: 18px;
}
@media screen and (max-width: 395px) and (max-height: 844px) {
    body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    header {
        width: 100%;
        grid-column: 1/ -1;
        height: 100px;
        display: flex;
        justify-content: center;
        background-color: var(--cor-secundaria);
    }
    li a {
        display: none;
    }
    .topo {
        width: 90%;
        border-radius: 10px;
        height: 100px;
        justify-content: space-between;
        background-color: var(--cor-principal);
    }
    .fotoNome{
        gap: 10px;
        justify-content: start;
    }
    .fotoNome img {
        width: 60px;
        height: 60px;
    }
    .perfil {
        width: 350px;
        height: 350px;
    }  
    .hero {
        flex-direction: column;
        text-align: center;
        height: calc(100vh - 150px);
        display: block;
        gap: 30px;
        padding: 0;
        margin-top: 50px;
    }
    .botao {
        width: 80%;
        height: auto;
    }
    .text {
        max-width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 100%;
        text-align: justify;
        padding: 0 25px;
        /* border: 1px solid red; */
    }
    .text a{
        justify-content: center;
        /* border: 1px solid red; */
    }
    .text p {
        font-size: 20px;
        text-align: justify;
    }
    .img {
        display: flex;
        justify-content: center;
        margin: 0 ;
        margin-top: 50px;
    }
    .perfil{
        height: auto;
    }
    .text h1 {
        font-size: 40px;
        margin-bottom: 10px;
        text-align: center;

        font-family: 'fontYcaro', sans-serif;
    }
    #SOBRE h3, #CURIOSIDADES h3{
        text-align: center;
    }
    #SOBRE, #CURIOSIDADES {
        grid-column: 1/-1;
        padding: 15px;
        text-align: center;
        margin: 0 10px;
    }
    .cards-container{
        grid-template-columns: 1fr;
    }
    .card img {
        width: 280px;
        height: auto;
    }
    footer {
        width: 100%;
        height: 200px;
        margin-top: 100px;
    }
    footer h3 {
        font-size: 36px;
    }
    footer ul {
        list-style: none;
    }
}